@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer base {
  @font-face {
      font-family: 'DM Sans Italic';
      src: url('../public/font/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
      font-weight: 100 900;
       font-style: italic;
  }
  @font-face {
        font-family: "Passion One";
        src: url('../public/font/PassionOne-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
            font-family: "DM Display";
            src: url('../public/font/DMSerifDisplay-Regular.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }
    @font-face {
                font-family: "Inter";
                src: url('../public/font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
                font-weight: 700;
            }
    @font-face {
        font-family: 'Neuton';
        src: url('../public/font/Neuton-Regular.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
      }
}
