.content-container {
  position: relative;
  overflow: hidden;
}

.transition-wrapper {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transitioning.forward .transition-wrapper {
  transform: translateX(100%);
  opacity: 0;
}

.transitioning.backward .transition-wrapper {
  transform: translateX(-100%);
  opacity: 0;
}

.forward .transition-wrapper {
  transform: translateX(-100%);
  opacity: 0;
}

.backward .transition-wrapper {
  transform: translateX(100%);
  opacity: 0;
}

.transitioning .transition-wrapper {
  transform: translateX(0);
  opacity: 1;
}
